@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme static {
  --color-primary: var(--color-orange-500);
  --color-secondary: var(--color-blue-500);
}

:root {
  --background: var(--color-gray-50);
  --foreground: #000000;
  --radius-small: 4px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-small: 4px;
}
